* {
	margin: 0;
}

nav {
	background: #082841;
}

nav ul {
	list-style-type: none;
}

nav a {
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: flex;
	flex: 1;
	padding: 20px 10px;
	border-radius: 4px;
}

nav a:hover {
	color: #082841;
	background-color: #d1e0eb;
}

nav ul:nth-of-type(2) li {
		margin-right: 50px;
}

a.fa {
  background: url(img/logo-blue-s.jpg) no-repeat center;
	background-size: 225px;
}

a.fa:hover {
	background-color: #082841;
}

.logo a {
	text-indent: -10000px;
	margin: 0 auto;
	font-size: 18px;
	height: 50px;
}

.logo {
	margin: 0 auto;
}


/* flex styles */
nav ul.logo li {
	flex: 1 1 0;
}

nav ul.logo {
	flex: 1 1 0;
	display: flex;
}

nav a.burger-nav {
	display: flex;
	flex: 1;
	height: 40px;
	flex-basis: 100%;
	background: url(img/nav-burger.png) no-repeat 98% center;
	background-color: #404040;
	cursor: pointer;
}

header .wrapper {
	width: 100%;
	padding: 0;
}

nav ul:last-of-type {
	overflow: hidden;
	background: #082841;
	height: 0;
}

nav ul:last-of-type.open {
	height: auto;
}

header:after {
	display: block;
/*	
 	content: "under construction";
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 0.7em;
	z-index: ;
        background: url(img/uc.jpg) no-repeat center;
	color: #000;
	padding: 10px;
 */
	height: 4px;
        background: #000;
        content: "";
}

/*   BANNER STYLES */
#main-banner {
	position: relative;
	max-height: 700px;
	overflow: hidden;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#main-banner img {
	position: relative;
	grid-column: 1 / 4;
	width: 100%;
	top: -10%;
}
	#main-banner .banner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 30px auto;
	height: 100%;
	line-height: 1;
	font-size: 24px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, minmax(0%, auto));
}

.banner-overlay .wrapper {
	margin: 20px;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.banner-title {
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.6em;
	opacity: 0.8;
}

.banner-overlay p {
	color: #fff;
	margin-top: 10px;
	font-size: 0.6em;
	opacity: 0.8;
}
	
.banner-overlay a {
	display: flex;
	flex: 1;
	justify-content: center;
	color: #fff;
	background: #082841;
	letter-spacing: 0.1em;
	border-radius: 4px;
	border: 0;
	width: 150px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 10px;
	box-shadow: 1px 4px 6px rbga(0,0,0,0.5);
	font-size: 0.5em;
}

.banner-overlay a:hover {
	background: #d1e0eb;
	color: #082841;
}

/* 	CONTENT STYLE */

.header {
	text-align: center;
	font-size: 48px;
	margin-top: 40px;
}

#services,
#clients,
#about, 
#contact {
	margin: 0 auto;
	padding: 20px;
}

#services h2, 
#services h3,
#services h5,
#about h2,
#clients h2,
#contact h2 {
	text-transform: uppercase;
	text-align: center;
}

#services ul {
	padding: 2%;
	list-style-type: none;
	width: 96%;
	margin: 2%;
}

/* 	GRID CONTAINER */
.grid-container {
	margin: 20px;
}

.box {
	height: auto;
	width: 96%;
	min-width: 100px;
	flex-grow: 1;
	margin: 1%;
	padding: 1%;
	text-align: center;
}
	
.box img {
	width: 98%;
}

/* 	INFO BOXES */
a.info {
	display: flex;
	color: #082841;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	justify-content: center;
	padding: 10px 0;
 	border: 2px solid #082841;
  width: 100px;
	margin: 30px auto;
}
	
a.info:hover {
	color: #fff;
	background-color: #082841;
}

/* 	ABOUT STYLES */
#about {
	background: #d1e0eb;
}
	
#about p {
	margin: 20px;
}

#about p:nth-of-type(2) {
	margin-top: 50px;
}

#about p:after {
	display: block;
	content: "";
	clear: both;
}

#about img {
	margin: 30px 20px;
	float: left;
}

/* CLIENT STYLES */

#clients {
	background: #fff;
}
	
#clients blockquote {
	margin: 5px 20px;
}

#clients blockquote:after {
	display: block;
	content: "";
	clear: both;
}

#clients img[alt='head'] {
	margin: 30px 20px;
	float: left;
}

#clients img[alt='quote'] {
	margin: 30px 20px 0 0;
}

/* 	CONTACT FORM */
#contact {
	background: #141414;
	color: #eee;
	margin: 0 auto;
}

form {
	margin: 40px auto;
}

form p {
	font-size: 18px;
	letter-spacing: 0.1em;
}
	
fieldset {
	padding: 20px;
	margin: 20px auto;
	border: 3px solid #222;
}
	
input[type='name'], 
input[type='email'], 
input[type='telephone'],
input[type='zip'] {
	display: flex;
	margin: 20px 0;
	padding: 10px 0px 10px 20px;
	border: 0;
	border-radius: 4px;
	background-color: #222;
	font-size: 16px;
	color: #fff;
}
	
/* 	SELECT BOXES */
select {
	display: flex;
	margin: 30px 0;
	padding: 10px 50px 10px 10px;
	background-color: #222;
	color: #fff;
	border-radius: 4px;
	border: 2px solid #fff;
	width: 280px;
}

input[type='submit'] {
	background: #082841;
	padding: 15px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 0.1em;
	border-radius: 4px;
	border: 0;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
	width: 280px;
}
	
/* 	FORM VALIDATION */
input[type='email']:valid,
input[type='telephone']:valid {
	border: 2px solid #fff;
}
	
/* 	FOOTER */
footer {
	display: flex;
	flex: 1;
	justify-content: center;
	background: #010101;
	padding: 30px 0;
	color: #fff;
}
	
footer .wrapper {
	height: auto;
	width: 21%;
	min-width: 100px;
	flex-grow: 1;
	margin: 1%;
	padding: 1%;
	text-align: justify;
	margin: 0 auto;
}
	
footer li {
	margin: 10px 0;
}
	
footer a {
	color: #eee;
	text-decoration: none;
	text-align: center;
	display: flex;
	flex: 1;
}
	
footer p, footer img {
	width: 500%;
	font-size: 12px;
	text-align: left;
}
	
footer .wrapper:nth-child(1) li,
footer .wrapper:nth-child(2) li {
	padding: 5px;
}
	
footer ul {
	padding: 2%;
	list-style-type: none;
	color: #eee;
	width: 21%;
	margin: 2%;
}
	
a.fb {
	background: url(img/fb.png) no-repeat center;
	background-size: 100%;
}
	
a.tw {
	background: url(img/tw.png) no-repeat center;
	background-size: 100%;
}
	
a.li {
	background: url(img/li.png) no-repeat center;
	background-size: 100%;
}
	
ul.social a {
	text-indent: -10000px;
	margin: 0 auto;
	padding: 20px;
}
	
ul.social {
	max-width: 80px;
	margin: 0 auto;
}

@media screen and (min-width: 480px){
	
	.box {
		width: 46%;
	}
	
	footer p, footer img {
		width: 700%;
		font-size: 12px;
		text-align: left;
	}

	#main-banner .banner-overlay {
		grid-template-rows: repeat(3, minmax(0px, auto));
	}
	
	.banner-overlay .wrapper {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}

	.banner-title {
		font-size: 1em;
		opacity: 0.8;
	}
	
	.banner-overlay p {
		font-size: 0.8em;
	}

	.banner-overlay a {
		padding: 10px;
		text-decoration: none;
		text-transform: uppercase;
		margin-top: 15px;
		box-shadow: 1px 4px 6px rbga(0,0,0,0.5);
		font-size: 0.6em;
	}
	
		  /* 	GRID CONTAINER */
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, minmax(0px, auto));
		grid-gap: 0 20px;
		margin: 20px;
		text-align: justify;
	}
	
	.box:nth-of-type(1) {
		width: 100%;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	.box:nth-of-type(2) {
		width: 100%;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	
	.box:nth-of-type(3) {
		width: 100%;
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}
	
	.box:nth-of-type(2) h3,
	.box:nth-of-type(3) h3 {
		margin-bottom: 25px;
	}
	
	.grid-container a:nth-of-type(3) {
		grid-column: 1 / 3;
	}
	
}

@media screen and (min-width: 768px) {
	
	/* 	NAVBAR STYLES */
	
	nav ul {
		display: flex;
	}
	
	nav ul:nth-of-type(2) {
		padding: 10px;
	}
	
	nav li {
		flex: 1 1 0;
	}
	
	nav {
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		height: 80px;
		padding: 10px;
	}
	
	ul.logo {
		margin: 0;
	}
	
	a.fa {
		background: url(img/logo-blue-s.jpg) no-repeat top left;
		background-size: 200px;
	}
	
/* 	BURGER NAV */
	nav a.burger-nav {
		display: none;
	}
	
	nav ul:last-of-type {
		height: auto;
  }
  
  nav ul:nth-of-type(2) li {
		margin-right: 0;
	}
  
	/*   BANNER STYLES */
	#main-banner .banner-overlay {
		grid-template-rows: repeat(3, minmax(15%, auto));
	}
	
	.banner-overlay .wrapper {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}

	.banner-title {
		font-size: 1em;
		opacity: 0.8;
	}
	
	.banner-overlay p {
		font-size: 0.8em;
	}

	.banner-overlay a {
		padding: 10px;
		text-decoration: none;
		text-transform: uppercase;
		margin-top: 15px;
		box-shadow: 1px 4px 6px rbga(0,0,0,0.5);
		font-size: 0.6em;
	}
	
	  /* 	GRID CONTAINER */
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, minmax(0px, auto));
		grid-gap: 0 20px;
		margin: 20px;
		text-align: justify;
	}
	
	.box:nth-of-type(1) {
		width: 100%;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	.box:nth-of-type(2) {
		width: 100%;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	
	.box:nth-of-type(3) {
		width: 100%;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	
	.box:nth-of-type(2) h3,
	.box:nth-of-type(3) h3 {
		margin-bottom: 25px;
	}
	
	.grid-container a {
		grid-row: 2 / 3;
	}
	
	.grid-container a:nth-of-type(3) {
		grid-row: 2 / 3;
		grid-column: 1;
	}
	
	footer .grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, minmax(0px, auto));
		grid-gap: 0 20px;
		margin: 20px;
		text-align: justify;
	}


/* 	CONTACT FORM */
	#contact {
		background: #141414;
		color: #eee;
	}
	
	form {
		margin: 40px;
	}
	
	form p {
		font-size: 18px;
		letter-spacing: 0.1em;
	}
	
	fieldset {
		padding: 20px;
		margin: 20px 0;
		border: 3px solid #222;
	}
	
	input[type='name'], 
	input[type='email'], 
	input[type='telephone'],
	input[type='zip'] {
		display: flex;
		margin: 20px 20px 30px 20px;
		padding: 10px 10px 10px 20px;
		border: 0;
		border-radius: 4px;
		background-color: #222;
		font-size: 16px;
		color: #fff;
	}
	
/* 	SELECT BOXES */

	select {
		display: flex;
		margin: 30px 0;
		padding: 10px 50px 10px 10px;
		background-color: #222;
		color: #fff;
		border-radius: 4px;
		border: 2px solid #fff;
		width: 280px;
	}
	
	input[type='submit'] {
		background: #082841;
		padding: 15px;
		color: #fff;
		font-size: 20px;
		letter-spacing: 0.1em;
		border-radius: 4px;
		border: 0;
		box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
		width: 280px;
	}
	
	input[type='submit']:hover {
		background: #d1e0eb;
		color: #082841;
	}
	
/* 	FORM VALIDATION */
	input[type='email']:valid,
	input[type='telephone']:valid {
		border: 2px solid #fff;
	}
	
}
