* {
	margin: 0;
	font-family: helvetica, arial;
}

body {
	background-color: #eee;
}


header .wrapper nav img {
	display: flex;
	flex: 1 1 0;
	background: url(img/logo-blue-s.jpg) no-repeat;
	height: 106px;
	flex-basis: 280px;
	text-indent: -10000px;
}




















#content{
	position: relative;
	display: grid;
	margin: 0 auto;
}

#grid {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100%, auto);
	grid-gap: 10px;
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 0;
	display: none;
}
#grid p {
	border: 1px solid;
	background: #000;
	margin: 0;
	opacity: 0.2;
}
input:checked + #content #grid {
	display: grid;
}
